body {
  font-family: sans-serif;
}

#chart {
  border: 1px solid black;
}

#app {
  border: 1px dashed blue;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 15px sans-serif;
  background: lightsteelblue;
  border-radius: 8px;
}

.tipTemp {
  padding: 2px;
  font-size: 30px;
  font-style: bold;
}

.tipVar {
  font-style: italic;
}
